<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:equiMaster.properties"/>
    <bean id="electricEqui"
          class="ru.uennar.ElectricEqui"
          init-method="doInit"
          destroy-method="doDestroy"
          factory-method="getElectricEqui">
    </bean>
    <bean id="measEqui"
          class="ru.uennar.MeasEqui">
    </bean>
    <bean id="compEqui"
          class="ru.uennar.CompEqui">
    </bean>
    <bean id="equiMaster"
          class="ru.uennar.EquiMaster"
          scope="prototype"
          init-method="doInit"
          destroy-method="doDestroy">
        <property name="equiList">
            <list>
                <ref bean="measEqui"/>
                <ref bean="compEqui"/>
                <ref bean="electricEqui"/>
            </list>
        </property>
        <property name="userName" value="${equiMaster.userName}"/>
        <property name="shift" value="${equiMaster.shift}"/>
    </bean>

</beans>